h1{
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.nav{
    background-color: rgb(88, 88, 88);
    display: flex;
    
}

.nav-links
{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

a{
    color: white;
}

.btn{
    color: white;
    background-color: rgb(77, 184, 255);
    border-color: black;
    padding: 5px 8px;
    box-shadow: 3px 3px black;
}